<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple script which checks levels in the Minecraft discord">
    <link rel="icon" type="image/png" href="/mee6_bad.png">
    <title>meesearch</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            flex-direction: column;
        }

        input {
            border-radius: 5px;
            width: 40vw;
            font-size: xx-large;
            text-align: center;
        }
    </style>
</head>

<body>
    <img src="/mee6_bad.png" alt="the MEE6 logo with a red stroke through it.">
    <form action="/">
        <input type="number" name="id" placeholder="ID to check" />
        <input type="submit" hidden />
    </form>
    {% if id %}
    <div>
        User ID: {{ id }}
    </div>
    {% endif %}
    {% if xp %}
    <div>
        {{ xp }} XP
    </div>
    {% endif %}
    {% if level %}
    <div>
        Level {{ level }}
    </div>
    {% endif %}
</body>

</html>